@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

body {
    font-family: "Inter", sans-serif !important;
}

.article-card:hover img {
    transform: scale(1.05);
}

@keyframes slideDown {
    0%, 100% {
        transform: translateY(-12px);
    }
    50% {
        transform: translateY(12px);
    }
}

.animate-slideDown {
    animation: slideDown 4s ease-in-out infinite;
}
